{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog_turma/css/blog_turma.css' %}">
    <link rel="stylesheet" href="{% static 'blog_turma/js/blog_turma.js' %}">
    <title>Blog Turma</title>
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a class="botton" href="{% url 'post_new' %}"><ion-icon name="duplicate-outline"></ion-icon> Criar</a>
        {% endif %}
        <h1 class="titulo bg-info">Blog Turma</h1>
        <div>

        </div>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
    <script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
</body>
</html>